.container{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.choices{
    color: #FFF;
}
.box1c{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    justify-content:flex-start;
    align-items: flex-start;
    margin-left: 10vw;
    text-align: start;
}
.box1c>h2{
    color: #72DB73;
    font-size: 67px;
    font-family: 'Single Day',cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 100.688%;
    margin-top: 40px;
}
.choice>h1{
    color: #FFF;
    font-size: 68px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 139.688%;
}
.choice{
display: flex;
width: 600px;
height: 316px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: start;
align-items: center;
}
.box2c{
    display: flex;
    flex-direction: column;
    color: #FFF;
    width: 50vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.choice1{
    display: flex;
    flex-direction: row;
   
}
.items{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.grid-item{
    width: 170px;
height: 150px;
margin: 10px;
}
.action{
    border-radius: 20px;
border: 6px solid #11B800;
background: #FF5209;
}
.images{
    width: 150px;
height: 80px;
flex-shrink: 0;
margin-top: 20px;
border-radius: 11.661px;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
}
.drama{
    border-radius: 20px;
    background: #D7A4FF;
}

.romance{
    border-radius: 20px;
    border: 6px solid #11B800;
    background: #148A08;
}
.thriller{
    border-radius: 20px;
    background: #84C2FF;
}
.western{
    border-radius: 20px;
    background: #902500;
}
.horror{
    border-radius: 20px;
    background: #7358FF;
}
.fantasy{
    border-radius: 20px;
    background: #FF4ADE;
}
.music{
    border-radius: 20px;
    border: 6px solid #11B800;
    background: #E61E32;
}
.fiction{
    border-radius: 20px;
    background: #6CD061;
}
.categButton{
    width: 200px;
height: 56px;
flex-shrink: 0;
border-radius: 38.857px;
background: #148A08;
position: relative;
top: 30px;
left: 200px;
}
.genres{
    width: 193px;
height: 52px;
flex-shrink: 0;
border-radius: 31px;
background: #148A08;
}